body {
    padding-top: 70px;
    background-color: #e6fdd9f6;
    font-family: 'Nunito', sans-serif;

}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}


.container {
    line-height: 1.6;
    margin: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    background-color: #0d1731;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
}

/* Estilo personalizado para el navbar */
.custom-navbar {
    
    background-color: #0d1731 !important;
}

.custom-navbar .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-left: 1rem;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.custom-navbar .nav-link:hover {
    color: #FFD700 !important; /* Amarillo dorado */
    border-bottom: 2px solid #FFD700;
}

.custom-navbar .navbar-brand {
    color: #ffffff !important;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-brand:hover {
    color: #FFD700 !important;
}

.nav-link.active {
    background-color: #ffffff33;  /* fondo claro semi-transparente */
    border-radius: 0.5rem;
    font-weight: 600;
    color: #ffffff !important; /* texto blanco */
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.banner-imagen {
    background-image: url('../img/bannner.webp');
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}

.banner-imagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Oscurece la imagen para mejor contraste */
}

.banner-imagen .container {
    position: relative;
    z-index: 2;
}

.img-ejercicio {
    width: 100%;
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.form-container {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
        .form-section {
            flex: 1;
            min-width: 300px;
        }
        .graph-section {
            flex: 1;
            min-width: 400px;
        }
        .data-pair {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
        }
        .result-box {
            margin-top: 20px;
        }